.container {
    height: 160px;
    background-color: rgb(150, 248, 114);
    display: flex;
    justify-content: space-between;
}

.item:nth-child(1) {
    flex: 1;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;

}

.item:nth-child(2) {
    flex: 1;
    margin-top: auto;
    margin-bottom:auto;
}
.item:nth-child(2) img{
    max-width: 100%;
    height: auto;
    display: block;
    width: 60vw;
}

@media screen and (max-width: 1206px) {
    .item:nth-child(2) img {
        display:none;
    }
    
}


.item:nth-child(3) {
    flex: 1;
    display: flex;


}

.menu {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 3%;
    margin-left: 3%;

}

.cart {
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10%;
    margin-left: auto;
}



.counter {
    position: absolute;
    top: 0%;
    /* position the badge relative to the height of the cart container */
    right: 40%;
    /* position the badge relative to the width of the cart container */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    min-width: 15px;
    min-height: 15px;
    text-align: center;
}

.text {
    font-size: 25px;
}

.phone {
    border-radius: 50%;
    background-color: white;
    font-size: 100px;
    padding: 10px;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    max-height: 100px;
    min-height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.texts {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;

}
@media screen and (max-width: 935px) {
    .texts {
        display:none;
    }
}